name: Push NuGet to JFrog

on:
  workflow_dispatch:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: ./CustomLibrary
    
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0 # adjust as needed

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release

      - name: Pack NuGet package
        run: dotnet pack --configuration Release

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JFROG_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JFROG_TOKEN }}
          
      - name: Publish to Artifactory
        run: |
          jf rt u "**/*.nupkg" custompackages2/ --flat=true
